@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/gilroy-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/gilroy-black.woff2') format('woff2');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/gilroy-medium.woff2') format('woff2');
}


body {
    font-family: 'Gilroy';
    font-weight: 400;
    color: #333333;
}

textarea:focus, input:focus{
    outline: none;
}

.anime {
  @apply  duration-[0.15s] ease-in-out;
}


.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0.5;
  filter: blur(.1rem);
}